.border-dashboard-icons {
    border-width: 2px;
    /*border-color: #107896;*/
    border-color: #B1B1B1;
    border-style: solid;
}

.icon-hover:hover svg path{
    fill: #51bcda;    
}

/*dropdown styles and their options */
.dropdown-options {
    display: none;
    position: absolute;
    /*border: 1px solid #ccc;*/
    border-top: none;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
}

.icon-img-bar {
    margin-right: 10px;
    margin-left: 5px;
    width: 24px;
    height: 24px;
}

li a:hover .icon-img-bar{
    transform: scale(1.35);
}

.white-bg-icon{
    background-color: white;
}

.borderHeight{
    height: 38px;
}

.orderCompleted{
    color: #fff;
    background-color: #7BC043;
}

.orderPending{
    color: #fff;
    background-color: #d4b608;
}

.orderInProgress{
    color: #fff;
    background-color: #FFA500; 
}
.btn-custom {
    color: #fff;
    background-color: #7BC043; 
    border-color: #7BC043; 
  }
  
  .btn-custom:hover, .btn-custom:focus {    
    color: #fff; 
    background-color: #5CB85C; 
    border-color: #5CB85C; 
  }

.btn-custom-inprogress {
    color: #fff;
    background-color: #FFA500; 
    border-color: #FFA500; 
  }
  
.btn-custom-inprogress:hover, .btn-custom-inprogress:focus {    
    color: #fff; 
    background-color: #FFA500; 
    border-color: #FFA500; 
  }
  
.sidebar-menu {
    background-color: #333333;
    color: #FFFFFF;
  }
