.border-dashboard-icons {
    border-width: 2px;
    /*border-color: #107896;*/
    border-color: #B1B1B1;
    border-style: solid;
}

.icon-hover:hover svg path{
    fill: #7cd424;    
}

/*dropdown styles and their options */
.dropdown-options {
    display: none;
    position: absolute;
    /*border: 1px solid #ccc;*/
    border-top: none;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
}

.icon-img-bar {
    margin-right: 10px;
    margin-left: 5px;
    width: 24px;
    height: 24px;
}

li a:hover .icon-img-bar{
    transform: scale(1.35);
}

.white-bg-icon{
    background-color: white;
}

.borderHeight{
    height: 38px;
}
